@model IEnumerable<Employee>
@{
    @*<div class="row">
            <div class="col-2">
                @Html.LabelFor(Model => Model.Name)
            </div>
            <div class="col-4">
                @Html.TextBoxFor(Model => Model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                @Html.LabelFor(Model=>Model.id)
            </div>
            <div class="col-1">
                @Html.TextBoxFor(Model=>Model.id)
            </div>

        </div>*@

    <div class="row">
        <div class="col-3">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>salary</th>
                    <th>adds</th>
                </tr>
                @foreach (Employee employee in Model)
                {
                    <tr>
                        <td>@employee.id</td>
                        <td>@employee.Name</td>
                        <td>@employee.salary</td>
                        <td>@employee.adds</td>
                    </tr>
                }
            </table>

        </div>
    </div>


}
